name: Update Release File

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Version tag'
        required: true

permissions:
  contents: write
  actions: write

jobs:
  update-release-file:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v6

      - name: Write tag to release.txt
        run: echo "${{ inputs.release_tag }}" > release.txt

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: Continuous Integration
          author_email: username@users.noreply.github.com
          message: 'Update release.txt with the latest tag'
          add: 'release.txt'
